#events-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.event-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  transition:  0.2s;
}

.event-card h3 {
  margin: 0 0 10px;
  color: #0077cc;
}

.event-card p {
  margin: 5px;
}

.event-card .description {
  color: #555;
  margin-top: 10px;
}

.teams {
  font-weight: bold;
}

.datetime {
  color: #555;
}

.venue {
  font-size: 0.9em;
  color: #777;
}

.event-card:hover {
  transform: translateY(-2px);
  transition: 0.2s;
}

/* Event adding form */

#open-form-btn {
  margin: 20px;
  padding: 10px 15px;
  cursor: pointer;
}

#form-container {
  position: fixed;
  top: 0;
  left: -350px;
  width: 300px;
  height: 100%;
  background: #fff;
  border-right: 1px solid #ccc;
  padding: 20px;
  transition: 0.3s;
}

#form-container.active {
  left: 0;
}

#event-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#event-form input,
#event-form textarea {
  padding: 8px;
}

#close-form-btn {
  align-self: flex-end;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 18px;
}
/* Filter container css start */
#filter-container {
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

#filter-container #sport-filter{
  padding: 5px;
  border-radius: 5px;
}

#filter-container button{
  padding: 6px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #0077ccac;
  transition: 0.2s;
}

#filter-container button:hover{
  transform: translateY(-2px);
}